{% extends 'home/base.html' %}

{% block title %}Erro 403 | Saiba{% endblock %}

{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/index.css' %}"/>
{% endblock %}

{% block body %}
    <section id="message" class="container col-md-12">
        <div class="http-error-message col-md-12">
            <h1>Erro 403: Proibido.</h1>

            <span>Você não possui permissão para acessar esta página.</span>
            <br><br>
            <span>Você pode tentar retornar à página anterior ou <a href="{% url 'home:index' %}">clicar aqui</a> para ir à página inicial.</span>
            <br><br>
            <span>Se você acredita que nós cometemos algum erro, por favor nos comunique.</span>
        </div>
    </section>
{% endblock %}