{% extends 'home/base.html' %}

{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/index.css' %}"/>
{% endblock %}

{% block body %}
    <section id="email-check-activation" class="container col-md-12">
        <h1>Verifique seu e-mail</h1>
        Um e-mail foi enviado a você para ativar a sua conta. Isso pode levar uns minutos.
        <br/><br/>
        Verifique também sua caixa de spam.
        <br/>
        Ao visualizar o e-mail, siga suas intruções.
    </section>
{% endblock %}