{% extends 'home/base.html' %}
{% block title %}Registrar{% endblock %}

{% block body %}
<div class="container-fluid panel panel-default">
    <h3 class="col-md-12 panel-heading">Criar uma conta em Saiba</h3>
    <div id="register" class="col-md-12 panel-body">
        <form class="form-horizontal" name="RegisterForm" action="{% url 'home:register' %}" method="post">
            {% csrf_token %}

            {% if custom_error %}
                <div class="alert alert-warning">
                    {% for error in custom_error %}
                        <strong>{{ error|escape }}</strong>
                    {% endfor %}
                </div>
            {% endif %}

			<div class="form-group">
            	<label class="control-label col-sm-3" for="field">Nome de Usuário:</label>
                <div class="col-md-3">{{ user_form.username }}</div>
            </div>
            
            <div class="form-group">
            	<label class="control-label col-sm-3" for="field">Senha:</label>
                <div class="col-md-3">{{ user_form.password }}</div>
            </div>

            <div class="form-group">
            	<label class="control-label col-sm-3" for="field">Repita a Senha:</label>
                <div class="col-md-3"><input class="form-control" type="password" name="repeat_password"></div>
            </div>
            
            <div class="form-group">
            	<label class="control-label col-sm-3" for="field">Endereço de email:</label>
                <div class="col-md-3">{{ user_form.email }}</div>
            </div>

            <div class="control-group col-md-12 col-md-offset-1">
                <button type="submit" class="btn btn-success col-md-2">Registrar-se</button> <span class="col-md-4" style="line-height:30px;">ou <a style="font-size:small;" href="{% url "home:login" %}">Já tenho uma conta</a></span>
            </div>

        </form>
    </div>
</div>
{% endblock %}