{% extends 'home/base.html' %}
{% block title %}{{ video.title }} | {{ video.entry.title }} | Saiba{% endblock %}
{% block body %}
    <section id="conteudo" class="container col-md-9">
        {% load embed_video_tags %}

        {% video video.media '640x360' %}
    </section>

    {% if video.hidden %}
    <section id="entry-status-rejeitado" class="entry-status panel panel-default col-md-12">
        <div id="entry-status-rejeitado" class="entry-status-label panel-body col-md-12">Este vídeo está escondido</div>
        <div id="entry-status-rejeitado" class="entry-status-description panel-body col-md-12">Este vídeo foi escondido por um membro da equipe e não pode ser visto por outros usuários.</div>
    </section>
    {% endif %}

    <section id="informacao" class="container media col-md-12">
        <div class="col-md-9">
            <h3>
                {{ video.title }} - <a href="{% url 'entry:detail' video.entry.slug %}">{{video.entry.title}}</a><br/>
                <small>Enviado por <a href="{% url 'profile:detail' video.author.profile.slug %}">{{ video.author.username }}</a> a <span class="saiba-date" title="{{video.date}}">{{video.date|date:"c"}}</span></small>
            </h3>
            {% if video.source %}<p>Fonte: {{ video.source }}</p>{% endif %}
            <p><small>Marcações: {% for tag in video.tags.all %}<a href="{% url 'home:page_search' %}?q={{ tag.label }}&type=video">{{ tag.label }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</small></p>
            {% if video.description %}<p>Descrição: {{ video.description }}</p>{% endif %}
        </div>
        <div class="col-md-3">
            <span><strong>Visualizações:</strong> {{views}}</span>
        </div>
    </section>

    <div class="media-right media-middle col-md-12">
        <hr>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <a href='{% url 'gallery:video_edit' video.pk %}'><span type='button' class='btn btn-default'>Editar</span></a>
            </div>
        </div>
        <hr>
    </div>

    <section id="relacionados" class="container media col-md-12"><hr/>
        <h2 class="section-title">Vídeos relacionados <small>({{ related_videos|length }})</small></h2>
        {% for related_video in related_videos %}
        <div class='inline-block col-md-4'>
            {% video video.media as video_media %}
            <a href="{% url 'gallery:video_detail' related_video.id %}"><img class='media-object' src='{{video_media.thumbnail}}' alt='{{video.title}}' height='100'/></a>
            <a href="{% url 'gallery:video_detail' related_video.id %}">{{ related_video.title }}</a>
            {% endvideo %}                
        </div>
        {% endfor %}
    </section>

    <section id="comentarios" class="container col-md-12">
    <hr/>
    <h2>Comentários</h2>
    {% include "feedback/comment_section.html" %}
    </section>
{% endblock %}