{% extends 'home/base.html' %}

{% block title %}Perfil de {{ profile.user.username }} - Saiba{% endblock %}
{% block body %}  
    {% include "profile/profile_information.html" %}

    {% include "profile/profile_menu.html" %}

    <section id="profile-images" class="container media col-md-12">
        <h3>Imagens de {{profile.user.username}}</h3>

        <div class="container media col-md-12">
            {% for image in images %}            
            <a href="{% url 'gallery:image_detail' image.id '' %}" class="trending-entry col-md-4">
                <span class="trending-container col-md-12" style="text-align: center;">
                    <img class="trending-image col-md-12 col-centered" src="{{image.file.url}}" 
                         style="height:80px; width:auto; border:1px;"/>
                    <span class="trending-title col-md-12">{{image.title}}</span>
                </span>
            </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}

user.date_joined()