{% extends 'home/base.html' %}

{% block title %}Perfil de {{ profile.user.username }} - Saiba{% endblock %}
{% block body %}  
    <section id="profile" class="container media col-md-12">
        <div class="media-left media-middle" style="background-color: ghostwhite; ">
            {% if profile.avatar %}
            <img style="border-style:solid; border-width:1px; border-color:lightgrey" class='media-object' src='{{profile.avatar.url}}' width='100' height='100'>
            {% else %}
            <img style="border-style:solid; border-width:1px; border-color:lightgrey" class='media-object' src='/media/icon/perfil.png' width='100' height='100'>
            {% endif %}
        </div>
        Nome: {{ profile.user.username }}
        Slug: {{ profile.slug }}
    </section>
{% endblock %}