    <div class="media-right media-middle col-md-12">
        <hr>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <a href='{% url 'profile:detail' user.profile.slug %}'><button type='button' class='btn btn-default'>Início</button></a>
            </div>
            <div class="btn-group" role="group">
                <a href='{% url 'profile:activity' user.profile.slug %}'><button type='button' class='btn btn-default'>Atividade</button></a>
            </div>
            <div class="btn-group" role="group">
                <a href='{% url 'profile:editorships' user.profile.slug %}'><button type='button' class='btn btn-default'>Editoria</button></a>
            </div>
            <div class="btn-group" role="group">
                <a href='{% url 'profile:images' user.profile.slug %}'><button type='button' class='btn btn-default'>Imagens</button></a>
            </div>
            <div class="btn-group" role="group">
                <a href='{% url 'profile:videos' user.profile.slug %}'><button type='button' class='btn btn-default'>Vídeos</button></a>
            </div>
        </div>
        <hr>
    </div>