    <section id="profile" class="media">
        <div class="media-left" style="background-color: ghostwhite; ">
            {% if profile.avatar %}
            <img style="border-style:solid; border-width:1px; border-color:lightgrey" class='media-object' src='{{profile.avatar.url}}' height='120'>
            {% else %}
            <img style="border-style:solid; border-width:1px; border-color:lightgrey" class='media-object' src='/media/icon/perfil.png' height='120'>
            {% endif %}
        </div>
        <div class="media-body">
            <span id="profile-username" class="media-heading col-md-12">{{ profile.user.username }}</span>
            <span id="profile-title" class="media-heading col-md-12">{{ profile.title }}</span>
            {% if profile.location %}<span class="col-md-12"><b>Localização:</b> {{ profile.location }}</span>{% endif %}
            <span class="col-md-12"><b>Registro:</b> <span class="saiba-date">{{ profile.user.date_joined|date:"c" }}</span></span>
            <span class="col-md-12"><b>Último login:</b> <span class="saiba-date">{{ profile.user.last_login|date:"c" }}</span></span>
            {% if profile.about %}<span class="col-md-12"><b>Sobre:</b><br/> {{ profile.about|linebreaks }}</span>{% endif %}
        </div>
    </section>
