{% extends 'home/base.html' %}

{% block title %}Perfil de {{ profile.user.username }} - Saiba{% endblock %}
{% block body %}  
    {% include "profile/profile_information.html" %}

    {% include "profile/profile_menu.html" %}

    <section id="profile-videos" class="container media col-md-12">
        <h3>Vídeos de {{profile.user.username}}</h3>

        <div class="container media col-md-12">
            {% for video in videos %}            
            <a href="{% url 'gallery:video_detail' video.id %}" class="trending-entry col-md-3">
                <span class="trending-container col-md-12" style="text-align: center;">
                    <img class="trending-image col-md-12 col-centered" src="https://img.youtube.com/vi/{{ video.link }}/mqdefault.jpg" 
                         style="height:80px; width:auto; border:1px;"/>
                    <span class="trending-title col-md-12">{{video.title}}</span>
                </span>
            </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}

user.date_joined()