{% extends 'home/base.html' %}

{% block body %}
    <div class="col-md-12">
        <div class="bs-docs-header text-center">
            <h2>Foruns</h2>
            (Pagina inicial)
        </div>

        <div class="col-md-5" role="main" style='background-color: #93c47d;'>
            <table class="table">
                <thead>
                    <tr>
                        <th>Foruns</th>
                        <th>Tópicos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div><a href="#">Nome do Fórum</a></div>
                            <div>Descrição do forum</div>
                            <div><b><a href='#'>| Nome da Seção</a></b></div>
                        </td>
                        <td>Quantidade de tópicos</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-7" role="main" style='background-color: #8ebdd9;'>
            <table class="table">
                <thead>
                    <tr>
                        <th>Mais recentes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div><b><a href='#'>Título do Tópico</a></b></div>
                            <div>Forum: <a href='#'>Nome do Fórum</a>
                                Secao: <a href='#'>Nome da Seção</a></div>
                        </td>

                        <td>
                            <div><a href='#'>Nome do autor</a></div>                                        
                            <div>Tempo do post</div>
                        </td>

                        <td>
                            <div>
                                <img src='#'/>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}