{% extends 'home/base.html' %}
{% block title %}{{ revision.entry.title }} - Saiba{% endblock %}
{% block body %}  
    <div class="col-md-12">
        <!-- Default panel contents -->
        <div class="h3">
            Revisão #{{ revision.id }} - <a href="{% url 'entry:detail' revision.entry.slug %}">{{ revision.entry.title }}</a>
            <br/>
            <small>Versão por <a href="#">{{ revision.author.username }}</a> em {{ revision.date }}</small>
        </div>
        <hr />
        <h2>Conteúdo</h2>
        <div class="well">
            {{ html | safe }}
        </div>
        
        <a href="{% url 'entry:history' revision.entry.slug %}" class="btn btn-default" role="button">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Voltar
        </a>        
    </div>
{% endblock %}