body
{
    padding-top: 3%;
    background-color: #fafafa;
}

#trending{
    background-color: #faffff;
    padding: 15px 0px 15px 0px;
    border-width: 2px 0px 2px 0px;
    border-style: solid;
    border-color: #d7e7cf;
    margin-top: 15px;
}

.trending-image{
    max-width: 200px;
    max-height: 100px;
    width:auto;
    height:auto;
    border:1px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.trending-title{
    padding-top: 5px;
}

#site-conteudo
{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* *** NAVBAR STYLE *** */
/* navbar */
.navbar-default {
    background-color: #388445;
    border-color: #E7E7E7;
}
/* Title */
.navbar-default .navbar-brand {
    color: white;
}

.navbar-version{
    font-size: 13px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.7);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: rgba(255, 255, 255, 0.7);
    border-bottom-color: rgba(255, 255, 255, 0.7);
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: white;
    border-bottom-color: white;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: white;
    border-bottom-color: white;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}