#fixed-block-hr
{
    border-top: 4px solid #000;
}

#fixed-posts
{
    background-color: #cbcbdd;
}

#normal-posts
{
}

#all-posts
{
}

.post
{
    background-color: whitesmoke;
    padding-left: 2%;
    border: 1px solid;
    border-color: #cecece;
    border-left-width: 4px;
    border-left-color: black;
}

.image-from-post
{
    margin: 0 auto;
    height:auto;
    max-width:550px;
    max-height:375px;
}

.video-from-post
{
    display:block;
    margin:auto;
}