.search-tag-display {
    display: inline;
    list-style: none;
    margin: 0;
}

.search-tag-display li{
    display: inline;
}

.search-tag-display li:after {
    content: ' ';
}

.search-tag-display li:last-child:after {
    content: '';
}

.search-tag-display ul {
    margin-bottom: 0px;
    padding-left: 10px;
}

.search-tag-display span{
    color: indianred;
}

.search-tag-display span:hover{
    color: #330000;
}

.search-box{
    position: absolute;
    padding-top: 2.5px;
    z-index: 1;
}

.search-box ul{
    list-style: none;
    padding: initial;
}

.search-box li{
    padding-top: 5px;
    padding-left: 12px;
    padding-bottom: 5px;
}

.search-box li:hover{
    background-color: aqua;
}

.search-results{
    display: none;
    background-color: ghostwhite;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 3px;
    border: 1px solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    width:207px;
    word-break:break-all;
}

.no-results:hover{
    background-color: darkorange;
}

#remove-tag-visual{
    background-color: #fff;
    background-image: none;
    border: 1px solid transparent;
    border-color: #ccc;
    border-radius: 3px;
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 1px 5px;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

#remove-tag{
    cursor: pointer;
}

#id_icon{
    filter: alpha(opacity=0);
    opacity: 0;
}

.custom-file{
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    height: 2.5rem;
    margin-bottom: 0;
    max-width: 100%;
    position: relative;
}

/*.custom-file-field{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    font-size: 14px;
    height: 34px;
    left: 0;
    line-height: 1.42857143;
    padding: 6px 12px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}*/

.custom-file-field{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-left-style: hidden;
    border-radius: 4px;
    border-top-left-radius: initial;
    border-bottom-left-radius: initial;
    color: #555;
    font-weight:normal;
    font-size: 14px;
    height: 34px;
    left: 0;
    line-height: 1.42857143;
    margin-left: 0;
    padding: 6px 12px;
    pointer-events: none;
    right: 0;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.custom-file-field::before{
    color:red;
}

.custom-file-field::after{
    color:blue;
}

.custom-file-control{
    left: 0;
    position: absolute;
    top: 0;
}