.saiba-data
{
    font-style: italic;
}

.parent-comment
{
    padding: 1% 0px 1% 2%;
    background-color: #eeeeff;
}

.reply-box
{
    padding: 1% 0px 1% 3%;
    background-color: #eeeeff;
}

.reply
{
    padding: 1% 0px 1% 2%;
    background-color: #dfdfef;
}

#conteudo h1{
    font-size: 25px;
}

#conteudo h2{
    font-size: 22px;
}

#conteudo h3{
    font-size: 20px;
}

#conteudo h4{
    font-size: 18px;
}

#conteudo h5{
    font-size: 15px;
}

#conteudo h6{
    font-size: 10px;
}

#conteudo img, #conteudo iframe, #conteudo twitterwidget{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.comment-date{
    font-style: italic;
    font-size: smaller;
    color: grey;
}

.comment-content{
    padding-top: 5px;
    padding-bottom: 10px;
}

.comment-points{
    width: 0px;
    text-align: center;
}

.avatar-container{
    width: 50px;
}

.reply-content{
    padding-left: 5%;
}

.textarea{
    padding-top: 3%;
}

.button_send{
    padding-top: 3%;
}

h1 { font-size: 28px; line-height: 40px; }
h2 { font-size: 24px; line-height: 40px; }
h3 { font-size: 18px; line-height: 40px; }
h4 { font-size: 14px; line-height: 20px; }
h5 { font-size: 12px; line-height: 20px; }
h6 { font-size: 10px; line-height: 20px; }

.comment {
    border-left-style: solid;
    border-left-width: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 8px 1px 8px 1px;
}

.comment-parent {
    background-color: #f7f7f7;
    border-left-color: lightgray;
    border-bottom-color: lightgray;
}

.comment-child {
    background-color: #f7f7f7;
    border-left-color: #e8e6e6;
    border-bottom-color: lightgray;
}

.pages{
    padding-top: 12px;
    font-size: medium;
}

.section-title{
    font-size: 19px;
}

/* Activity */
.activity-content{
    background-color: rgba(187, 167, 167, 0.17);
    border-radius: 3px;
    left: 3%;
    width: 90%;
}

/* Profile page */
#profile-username{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
}

#profile-title{
    font-size: 17px;
    font-weight: bold;
    margin-top: 0px;
}

#profile-menu{
    padding: 20px 0px 20px 0px;
}

#sub-menu-navbar{
    border-style: solid;
    border-color: lightgrey;
    border-radius: 0px;
    background: #f7f7f7;
}

.sub-menu-navbar-item{
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.sub-menu-navbar-item:hover{
    font-weight: bold;
    font-size: 15px;
    color: black;
    border-bottom-style: solid;
    border-bottom-color: #bdbdbd;
    border-bottom-width: 3px;
}

.sub-menu-navbar-selected-item{
    font-weight: bold;
    font-size: 15px;
    color: black;
    border-bottom-style: solid;
    border-bottom-color: #676262;
    border-bottom-width: 3px;
}

/* *** ENTRY *** */
#entry-status-pesquisando{
    background: #ffffda;
}

#entry-status-rejeitado{
    background: #ffd0d0;
}

.entry-status{
    text-align: center;
    margin-top: 10px;
}

.entry-status-label{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}

.entry-status-description{
    font-size: 12px;
    padding-top: 5px;    
}