.saiba-data
{
    font-style: italic;
}

#conteudo-artigo
{
    /*padding: 20px 5px 20px 5px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 3px;*/
}

/*#lista-editores
{
    padding: 20px 5px 20px 5px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 3px;
}*/

.parent-comment
{
    padding: 1% 0px 1% 2%;
    background-color: #eeeeff;
}

.reply-box
{
    padding: 1% 0px 1% 3%;
    background-color: #eeeeff;
}

.reply
{
    padding: 1% 0px 1% 2%;
    background-color: #dfdfef;
}

#conteudo h1{
    font-size: 25px;
}

#conteudo h2{
    font-size: 22px;
}

#conteudo h3{
    font-size: 20px;
}

#conteudo h4{
    font-size: 18px;
}

#conteudo h5{
    font-size: 15px;
}

#conteudo h6{
    font-size: 10px;
}

#conteudo img, #conteudo iframe, #conteudo twitterwidget{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.comment-date{
    font-style: italic;
    font-size: smaller;
    color: grey;
}

.comment-content{
    padding-top: 5px;
    padding-bottom: 10px;
}

.comment-points{
    width: 0px;
    text-align: center;
}

.avatar-container{
    width: 50px;
}

.reply-content{
    padding-left: 5%;
}

.textarea{
    padding-top: 3%;
}

.button_send{
    padding-top: 3%;
}

h1 { font-size: 28px; line-height: 40px; }
h2 { font-size: 24px; line-height: 40px; }
h3 { font-size: 18px; line-height: 40px; }
h4 { font-size: 14px; line-height: 20px; }
h5 { font-size: 12px; line-height: 20px; }
h6 { font-size: 10px; line-height: 20px; }