{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{% static 'home/scripts.js' %}"></script>

{% for comment in comments %}
    <div class="comment container media col-md-12" data-id="{{comment.id}}" id="chain-{{comment.id}}">
        <div class="comment container media col-md-12" data-id="{{comment.id}}" id="comment-{{comment.id}}">
            <div class="col-md-1 avatar-container">
                <a href="/perfil/{{comment.author.profile.slug}}">
                    <img class="col-md-12 img-rounded media-object" src="/media/{{comment.author.profile.avatar}}" style="width: 80px;">
                </a>
            </div>
            <div class="col-md-11 content-container">
                <div class="col-md-11 info-container">
                    <span class="col-md-12">
                        <a href="/perfil/{{comment.author.profile.slug}}"><b>{{comment.author}}</b></a>
                    </span>
                    <span class="col-md-12 comment-date" title="Seg, 20/02/2017 20:41:23 BRT">16 minutos atrás</span>
                    <span class="col-md-12 comment-content">{{comment.content}}</span>
                </div>
                <div class="col-md-12 feedback-container">
                    <span class="col-md-1 comment-points">0</span>
                    <button class="btn btn-default btn-xs glyphicon glyphicon-chevron-up"></button>
                    <button class="btn btn-default btn-xs glyphicon glyphicon-chevron-down"></button>
                    | 
                    <button class="btn btn-default btn-xs" style="">Responder</button>
                    <button class="btn btn-default btn-xs">Apagar</button>
                    <textarea style="display: none;"></textarea>
                    <button class="btn btn-default btn-xs">Enviar</button>
                </div>
            </div>
        </div>
        <div class="col-md-12"><hr></div>
        {% for child in comment.children.all %}
        <div class="comment-children col-md-12">
            <div class="comment-child container media col-md-12" data-id="{{child.id}}">
                <div class="col-md-1 avatar-container">
                    <a href="/perfil/saiba">
                        <img class="col-md-12 img-rounded media-object" src="/media/icon/perfil.png" style="width: 80px;">
                    </a>
                </div>
                <div class="col-md-11 content-container">
                    <div class="col-md-11 info-container">
                        <span class="col-md-12"><a href="/perfil/saiba"><b>Saiba</b></a></span>
                        <span class="col-md-12 comment-date" title="Seg, 20/02/2017 20:41:27 BRT">16 minutos atrás</span>
                        <span class="col-md-12 comment-content">{{child.content}}</span>
                    </div>
                    <div class="col-md-12 feedback-container">
                        <span class="col-md-1 comment-points">0</span>
                        <button class="btn btn-default btn-xs glyphicon glyphicon-chevron-up"></button>
                        <button class="btn btn-default btn-xs glyphicon glyphicon-chevron-down"></button> | <button class="btn btn-default btn-xs">Responder</button>
                        <button class="btn btn-default btn-xs">Apagar</button>
                        <textarea style="display: none;"></textarea>
                        <button class="btn btn-default btn-xs" style="display: none;">Enviar</button>
                    </div>
                </div>
                <div class="col-md-12"><hr></div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endfor %}