{% for comment in comments %}
    <div id="chain-{{comment.id}}" class="comment-chain" data-id="{{comment.id}}">
        <div id="comment-{{comment.id}}" class="comment-parent comment container media col-md-12" data-id="{{comment.id}}">
            <div class="col-md-1 avatar-container">
                {% if not comment.is_deleted %}
                <a href="{% url 'profile:detail' comment.author.profile.slug %}">
                    <img class="col-md-12 img-rounded media-object" src="/media/{{comment.author.profile.avatar}}" style="width: 80px;">
                </a>
                {% endif %}
            </div>
            {% if not comment.is_deleted %}
            <div class="col-md-11 content-container">
                <div class="col-md-11 info-container">
                    <span class="col-md-12">
                        {% if not comment.is_deleted %}
                        <a href="/perfil/{{comment.author.profile.slug}}"><strong>{{comment.author}}</strong></a>
                        {% endif %}
                    </span>
                    <span class="col-md-12 comment-date" title="{{comment.creation_date}}">{{comment.creation_date|timesince}}</span>
                    <span class="col-md-12 comment-content">{{comment.content}}</span>
                </div>  
                <div class="col-md-12 feedback-container">
                    <span class="col-md-1 comment-points">{{comment.get_points}}</span>
                    {% if not comment.is_deleted %}
                    <button class="upvote btn btn-default btn-xs glyphicon glyphicon-chevron-up"></button>
                    <button class="downvote btn btn-default btn-xs glyphicon glyphicon-chevron-down"></button>
                    | 
                    <button class="comment-reply btn btn-default btn-xs" style="">Responder</button>
                    {% if comment.author == request.user %}
                    <button class="comment-delete btn btn-default btn-xs">Apagar</button>
                    {% endif %}
                    {% endif %}
                    <textarea class="replybox form-control col-md-12" rows="2" style="display: none;"></textarea>
                    <button class="replybox-send btn btn-primary btn-xs col-md-2" style="display: none;">Responder</button>
                </div>
            </div>
            {% else %}
            <div class="col-md-11"><em><strong>[comentário deletado]</strong></em></div>
            {% endif %}
        </div>
        {% for child in comment.children.all %}
        <div class="comment-children col-md-12">
            <div id="comment-{{child.id}}" class="comment comment-child container media col-md-12" data-id="{{child.id}}">
                <div class="col-md-1 avatar-container">
                    {% if not child.is_deleted %}
                    <a href="/perfil/{{child.author.profile.slug}}">
                        <img class="col-md-12 img-rounded media-object" src="/media/{{child.author.profile.avatar}}" style="width: 80px;">
                    </a>
                    {% endif %}
                </div>
                {% if not child.is_deleted %}
                <div class="col-md-11 content-container">
                    <div class="col-md-11 info-container">
                        <span class="col-md-12"><a href="/perfil/{{child.author.profile.slug}}"><b>{{child.author}}</b></a></span>
                        <span class="col-md-12">
                            <span class="comment-date" title="{{child.creation_date}}">{{child.creation_date|timesince}}</span>
                            {% if child.parent != child.reply_to %}
                            <span data-reply-id="{{child.reply_to.id}}"> em resposta a <a href="#comment-{{child.reply_to.id}}">{{child.reply_to.author}}</a></span>
                            {% endif %}
                        </span>
                        <span class="col-md-12 comment-content">{{child.content}}</span>
                    </div>
                    <div class="col-md-12 feedback-container">
                        <span class="col-md-1 comment-points">{{child.get_points}}</span>
                        <button class="upvote btn btn-default btn-xs glyphicon glyphicon-chevron-up"></button>
                        <button class="downvote btn btn-default btn-xs glyphicon glyphicon-chevron-down"></button>
                        |
                        <button class="comment-reply btn btn-default btn-xs">Responder</button>
                        {% if child.author == request.user %}
                        <button class="comment-delete btn btn-default btn-xs">Apagar</button>
                        {% endif %}
                        <textarea class="replybox form-control col-md-12" rows="2" style="display: none;"></textarea>
                        <button class="replybox-send btn btn-primary btn-xs col-md-2" style="display: none;">Responder</button>
                    </div>                    
                </div>
                {% else %}
                <div class="col-md-11"><em><strong>[comentário deletado]</strong></em></div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endfor %}
<div class="pages col-md-12"> Páginas:
    {% for page in pages_total %}
        {% if current_page == page %}<strong>{% endif %}
        {% if not current_page == page %}<a class="change-page" data-id="{{page}}" href="#" onclick="return false;">{% endif %}
        {{page}}
        {% if not current_page == page %}</a>{% endif %}
        {% if current_page == page %}</strong>{% endif %}
        {% if not forloop.last %} {% endif %}
    {% endfor %}
</div>