    <iframe hidden width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>

    {% if user.is_authenticated and target.comments_locked == False %}
    <form id="comment-form" method="post" class="form-horizontal col-md-10" role="form" target="dummyframe">
        {% csrf_token %}
        <div class="form-group">
            <label for="content" class="control-label">Comentando como: <a href="{% url 'profile:detail' user.profile.slug %}">{{user.username}}</a></label>
            <textarea name="content" class="form-control" id="post_content" rows="3"></textarea>
        </div>
        <input type="hidden" name="type" value="{{type}}" />
        <input type="hidden" name="id" value="{{id}}" />
        <button type="submit" class="btn btn-primary col-md-1" id="post-comment">Enviar</button>
    </form>
    {% elif target.comments_locked == True %}
    <textarea name="content" class="form-control" id="post_content" rows="3" readonly>Comentários trancados.</textarea>
    <br/>   
    <button type="submit" class="btn btn-primary col-md-1" id="post-comment" disabled>Enviar</button>
    {% else %}
    <textarea name="content" class="form-control" id="post_content" rows="3" readonly>Autentique-se para comentar.</textarea>
    <br/>   
    <button type="submit" class="btn btn-primary col-md-1" id="post-comment" disabled>Enviar</button>
    {% endif %}

    <br/><br/><br/>

    <div id="comment-section">
    </div>

    <script>
        var sendCommentApiEndpoint  = "{% url 'api:api_comments' %}";
        var voteApiEndpoint         = "{% url 'api:api_vote' %}";

        var commentPage             = "{% url 'feedback:comment_page' %}" + "?id={{id}}&type={{type}}&hide_top_comments={{hide_top_comments}}";
        var contentId               = "{{id}}";
        var contentType             = "{{type}}";

        var comment_section = new CommentSection("comment-section", "{{user.profile.slug}}");

        comment_section.loadCommentPage(function(){
            
        });
        
        $('#post-comment').click(function(){

            var type    = $("[name='type']").val();
            var content = $("[name='content']").val();
            var id      = $("[name='id']").val();
            
            var api = new API();
            api.sendComment(id, type, content, null, null, sendCommentApiEndpoint).done(function(data){
                var comment_id = data.id;
                comment_section.loadCommentPage(1, function(){
                    $('html, body').animate({
                        scrollTop: $("#comment-" + comment_id).offset().top
                    }, 1);
                });
            })
        });
    </script>