{% extends 'home/base.html' %}
{% block title %}Nova entrada{% endblock %}

{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/search-style.css' %}"/>
{% endblock %}

{% block scripts %}
    <script src="{% static 'home/search-scripts.js' %}"></script>
    <script src="{% static 'home/file-script.js' %}"></script>
{% endblock %}

{% block body %}
<script>
    $(document).ready(function () {
        $("#preview-entry").click(function () {
            var content = $("#id_content").val();

            $.ajax({
                type: "POST",
                url: window.location.origin + "/api/v1/preview/",
                data: { content: content },
                success: function (data) {
                    $("#preview").show();
                    $("#preview-content").html(content);
                }
            });
        });
    });    
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Criar nova Entrada</h2>

                    {% if error_messages %}
                        <div class="col-md-offset-1">
                            <div class="alert alert-warning col-md-11">
                                <strong>Aviso!</strong>
                                <ul>
                                    {% for key, message in error_messages.items %}
                                        <li>{{ message|slice:"2:" }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="field">{{ entry_form.title.label }}</label>
                            <div class="col-sm-8">{{ entry_form.title }}</div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="field">{{ entry_form.category.label }}</label>
                        <div class="col-sm-8">{{ entry_form.category }}</div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="field">{{ entry_form.origin.label }}</label>
                            <div class="col-sm-8">{{ entry_form.origin }}</div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="field">{{ entry_form.date_origin.label }}</label>
                            <div class="col-sm-2">
                                <select name="date-day" class="form-control">
                                    {% for i in "x"|rjust:"32" %}
                                        {% if forloop.counter0 == 0 %}
                                            <option></option>
                                        {% else %}
                                            <option>{{ forloop.counter0 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <select name="date-month" class="form-control">
                                    <option value="0"></option>
                                    <option value="1">Janeiro</option>
                                    <option value="2">Fevereiro</option>
                                    <option value="3">Março</option>
                                    <option value="4">Abril</option>
                                    <option value="5">Maio</option>
                                    <option value="6">Junho</option>
                                    <option value="7">Julho</option>
                                    <option value="8">Agosto</option>
                                    <option value="9">Setembro</option>
                                    <option value="10">Outubro</option>
                                    <option value="11">Novembro</option>
                                    <option value="12">Dezembro</option>
                                </select>
                            </div>
                            <div class="col-sm-2"><input name="date-year" class="form-control" placeholder="Ano"></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="field">Ícone:</label>
                            <div class="control-label col-md-10">
                                <button type="button" id="custom-file-button" class="btn btn-primary col-md-1">Enviar</button>
                                <button type="button" id="custom-link-button" class="btn btn-success col-md-1">Link</button>
                                <div id="custom-file-field" class="col-md-6">{{ entry_form.icon }}</div>
                                <div id="custom-link-field" class="col-md-6" style="display: none;">{{ entry_form.icon_url }}</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-5" style="padding-left: 0px; padding-right: 0px;">
                                <label class="control-label col-md-5" for="field">{{ entry_form.tags.label }}</label>
                                <div class="col-md-7" style="padding-left: 1.6%; padding-right: 0px;">
                                    <input id="search-tags" type="text" class="form-control" placeholder="Procurar" autocomplete="off">
                                    <div class="search-box">
                                        <ul id="search-tag-results" class="search-results">
                                            <li id="tags-no-results" class="no-results">Sem resultados.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 search-tag-display">
                                <ul>
                                </ul>
                            </div>

                            <input type="text" id="tags-selected" name="tags-selected" hidden/>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="field">{{ revision_form.content.label }}</label>
                            <div class="col-sm-10" rows="50">{{ revision_form.content }}</div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="preview-entry" class="btn btn-secondary">Pré-visualizar</button>
                                <button type="submit" class="btn btn-primary submit-media">Enviar</button>
                            </div>
                        </div>
                    </form>

                    <div id="preview" hidden>
                        <hr/>
                        <h3>Pré-visualização</h3>
                        <span id="preview-content">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}