{% extends 'home/base.html' %}

{% block body %}
    <h2 class="col-md-12">Gerenciar editoria - <a href="{% url "entry:detail" entry.slug %}">{{entry.title}}</a></h2>
    <form class="form-horizontal col-md-12" role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3 class="col-md-12">Adicionar usuário à editoria</h3>
        <div class="input-group col-md-12">
            <input class="form-control" type="text" name="editor_added" placeholder="Nome do editor" {% if not has_full_rights %}disabled{% endif %}>
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit" name="add_editor" {% if not has_full_rights %}disabled{% endif %}>Adicionar</button>
            </span>
        </div>
        <small class="col-md-6">Use parte do url do usuário.<br/>Exemplo: em <em>{% url 'profile:detail' request.user.profile.slug %}</em>, use <strong>{{request.user.profile.slug}}</strong></small>
        <div class="form-group">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome do editor</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for editor in entry.editorship.all %}
                        <tr>
                            <td><a href='{% url 'profile:detail' editor.slug %}'>{{ editor.user.username }}</a></td>
                            <td>{% if has_full_rights or editor.user == user %}<button class="btn btn-secondary" type="submit" name="editor_removed" value="{{editor.slug}}">Remover</button>{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>                    
            </table>
        </div>
    </form>
{% endblock %}