{% extends 'home/base.html'%}

{% block body %}
    <form method="post" class="form-horizontal col-md-8 col-sm-offset-2" role="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="article-name" class="control-label">Nome</label>
            <input name="name" type="text" class="form-control" id="article-name" aria-describedby="nameHelp" placeholder="Escreva o nome do artigo">
            <small id="nameHelp" class="form-text text-muted">Verifique se o artigo já existe!</small>
        </div>

        <div class="form-group">
            <label for="origin" class="control-label">Origem</label>
            <input name="origin" type="text" class="form-control" id="origin" placeholder="De onde vem">
        </div>

        <div class="form-group">
            <label for="year" class="control-label">Ano</label>
            <input name="year" type="text" class="form-control" id="year" placeholder="De que ano é">
        </div>

        <div class="form-group">
            <label for="category" class="control-label">Categoria</label>
            <select name="category" class="form-control" id="type">
            {% for category in categories %}
                <option>{{category.label}}</option>
            {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="content" class="control-label">Conteúdo</label>
            <textarea name="content" class="form-control" id="content" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary" name="submit">Enviar</button>
    </form>
{% endblock %}