{% extends 'home/base.html' %}
{% block title %}Nova entrada{% endblock %}

{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/search-style.css' %}"/>
{% endblock %}

{% block scripts %}
    <script src="{% static 'home/search-scripts.js' %}"></script>
    <script src="{% static 'home/file-script.js' %}"></script>
{% endblock %}

{% block body %}
<script>
    $(document).ready(function () {
        $("#preview-entry").click(function () {
            var content = $("#id_content").val();

            $.ajax({
                type: "POST",
                url: "http://localhost:8000/api/v1/preview/",
                data: { content: content },
                success: function (data) {
                    $("#preview").show();
                    $("#preview-content").html(content);
                }
            });
        });
    });    
</script>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Criar nova Entrada</h2>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="field">Título</label>
                            <div class="col-sm-8">{{ entry_form.title }}</div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="field">Categoria</label>
                        <div class="col-sm-8">{{ entry_form.category }}</div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="field">Origem</label>
                            <div class="col-sm-8">{{ entry_form.origin }}</div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="field">Data</label>
                            <div class="col-sm-6">{{ entry_form.date_origin }}</div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="field">Ícone</label>
                            <div class="col-md-8">
                                {{ entry_form.icon }}
                                <div class="custom-file-control col-md-12">
                                    <button type="button" class="btn btn-primary custom-file-button col-md-2">Enviar imagem</button>
                                    <button type="button" class="btn btn-success custom-link-button col-md-2">Link da imagem</button>
                                    <span id="custom-file-field" class="col-md-4" style="display: none;"></span>
                                    <div class="col-md-4" style="padding-left:initial;"><input id="custom-link-field" class="form-control" placeholder="Insira o link da imagem"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-5" style="padding-left: 0px; padding-right: 0px;">
                                <label class="control-label col-md-5" for="field">Marcações</label>
                                <div class="col-md-7" style="padding-left: 1.6%; padding-right: 0px;">
                                    <input id="search-tags" type="text" class="form-control" placeholder="Procurar" autocomplete="off">
                                    <div class="search-box">
                                        <ul id="search-tag-results" class="search-results">
                                            <li id="tags-no-results" class="no-results">Sem resultados.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 search-tag-display">
                                <ul>
                                </ul>
                            </div>

                            <input type="text" id="tags-selected" name="tags-selected" hidden/>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="field">Conteúdo</label>
                            <div class="col-sm-10" rows="50">{{ revision_form.content }}</div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="preview-entry" class="btn btn-secondary">Pré-visualizar</button>
                                <button type="submit" class="btn btn-primary submit-media">Enviar</button>
                            </div>
                        </div>
                    </form>

                    <div id="preview" hidden>
                        <hr/>
                        <h3>Pré-visualização</h3>
                        <span id="preview-content">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}