{% extends 'home/base.html' %}

{% load staticfiles %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/entry.css' %}"/>
{% endblock %}

{% block title %}{{ entry.title }} - Saiba{% endblock %}

{% block body %}
    <section id="infocard" class="container media col-md-12">
        <div class="col-md-2" style="width:120px;">
            {% if entry.icon %}
                <img style="border-style:solid; border-width:1px; border-color:lightgrey;" class='media-object' src='{{entry.icon.url}}' width='100' height='100'>
            {% endif %}
        </div>
        <div class="col-md-7">
            <h3 class="media-heading"><a href="{% url 'entry:detail' entry.slug %}">{{ entry.title }}</a></h3>
            <p class="saiba-data">{{entry.date_origin}}</p>
            <span class="saiba-data">Criado em {{ first_revision.date }} por <a href="{% url 'profile:detail' first_revision.author.profile.slug %}">{{ first_revision.author.username }}</a></span><br/>
            <span class="saiba-data">Atualizado {{ last_revision.date }} por <a href="{% url 'profile:detail' last_revision.author.profile.slug %}">{{ last_revision.author.username }}</a></span>
            <p><small>Tags: {% if entry.tags.all|length > 0 %}{% for tag in entry.tags.all %}<a href="{% url 'home:page_search' %}?q={{ tag.label }}&type=entry">{{ tag.label }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}<em style="color: grey;">Nenhuma</em>{% endif %}</small></p>
        </div>
    </section>    

    <div class="media-right media-middle col-md-12">
        <hr>
        {% comment %}
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <a href='{% url 'entry:edit' entry.slug %}'><button type='button' class='btn btn-default'>Editar</button></a>
                </div>
                <div class="btn-group" role="group">
                    <a href='{% url 'entry:history' entry.slug %}'><button type='button' class='btn btn-default'>Histórico</button></a>
                </div>
                {% if can_see_editorship %}
                <div class="btn-group" role="group">
                    <a href='{% url 'entry:manage_editorship' entry.slug %}'>
                        <button type='button' class='btn btn-default'>Gerenciar editoria</button>
                    </a>
                </div>
                {% endif %}
            </div>
            <hr>
        {% endcomment %}
        
        <nav id="entry-navbar" class="navbar col-md-12">
            <a class="entry-navbar-item navbar-brand col-md-offset-1" href="{% url 'entry:edit' entry.slug %}">Editar</a>
            <a class="entry-navbar-item navbar-brand" href="{% url 'entry:history' entry.slug %}">Histórico</a>
            {% if can_see_editorship %}
                <a class="entry-navbar-item navbar-brand" href="{% url 'entry:manage_editorship' entry.slug %}">Gerenciar editoria</a>
            {% endif %}
        </nav>
    </div>
    
    {% if entry.status.label != "Confirmado"  %}
    <section id="entry-status-{{entry.status.code_name}}" class="entry-status panel panel-default col-md-12">
        <div id="entry-status-{{entry.status.code_name}}" class="entry-status-label panel-body col-md-12">{{entry.status.label}}</div>
        <div id="entry-status-{{entry.status.code_name}}" class="entry-status-description panel-body col-md-12">{{entry.status.description}}</div>
    </section>
    {% endif %}

    <section id="conteudo-artigo" class="container col-md-12">        
        <div id="conteudo">
            {{ last_revision.content|safe }}
        </div>
    </section>

    <section id="relacionados" class="container media col-md-12"><hr/>
        <h1 class="section-title">Entradas relacionadas <small>({{ related_entries|length }})</small></h1>
        {% for related_entry in related_entries %}
            <a class="col-md-2" href="{% url 'entry:detail' related_entry.slug %}" style="width:12%;">
                <span class="col-md-12" style="text-align: center;">
                    {% if related_entry.icon %}<img class="col-md-12 col-centered" src="{{related_entry.icon.url}}" style="width:110%; padding: 0 10% 0 10%;"/>{% endif %}
                    <span class="col-md-12">{{ related_entry.title }}</span>
                </span>                
            </a>
        {% endfor %}
        {% if related_entries|length == 0 %}
        <span class="col-md-12" style="text-align:center;">Não há entradas disponíveis</span>
        {% else %}
        <span class="col-md-12" style="text-align:center;">
            <a href="#" class="btn btn-success">Ver todas</a>
        </span>
        {% endif %}        
    </section>

    <section id="galeria-video" class="container media col-md-12"><hr/>
        <h1 class="section-title">Vídeos recentes <small>({{ videos|length }})</small></h1>
        {% for video in videos %}
            <div class='inline-block col-md-3'>
                <a href="{% url 'gallery:video_detail' video.id %}"><img class='media-object' src='https://img.youtube.com/vi/{{ video.link }}/mqdefault.jpg' alt='video.title' height='100'/></a>
                <a href="{% url 'gallery:video_detail' video.id %}">{{ video.title }}</a>
            </div>
        {% endfor %}
        {% if videos|length == 0 %}
        <span class="col-md-12" style="text-align:center;">Não há vídeos disponíveis</span>
        {% else %}
        <span class="col-md-12" style="text-align:center;">
            <a href="{% url 'home:page_search' %}?tipo=video&entrada={{entry.slug}}" class="btn btn-success">Ver todos</a>
        </span>
        {% endif %}
    </section>

    <section id="galeria-imagem" class="container media col-md-12">
        <hr/>
        <h1 class="section-title">Imagens recentes <small>({{ images|length }})</small></h1>
        {% for image in images %}
            <div class='inline-block col-md-4'>
                <a href="{% url 'gallery:image_detail' image.id %}"><img class='media-object' src='{{ image.file.url }}' alt='image.title' height='100'/></a>
                <a href="{% url 'gallery:image_detail' image.id %}">{{ image.title }}</a>
            </div>
        {% endfor %}
        {% if images|length == 0 %}
        <span class="col-md-12" style="text-align:center;">Não há imagens disponíveis</span>
        {% else %}
        <span class="col-md-12" style="text-align:center;">
            <a href="{% url 'home:page_search' %}?tipo=imagem&entrada={{entry.slug}}" class="btn btn-success">Ver todas</a>
        </span>
        {% endif %}
    </section>

    <section id="comentarios" class="container col-md-12">
    <hr/>
    <h3>Seção de comentários</h3>
    {% include "feedback/comment_section.html" %}
    </section>

{% endblock %}