{% extends 'home/base.html' %}
{% block title %}{{ entry_name }} - Saiba{% endblock %}
{% block body %}  
    <div class="panel panel-default col-md-8">
        <!-- Default panel contents -->
        <div class="panel-heading">Revisões do artigo</div>

        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Autor</th>
                </tr>
            </thead>
            <tbody>
                {% for revision in revisions %}
                        <tr>
                            <td><a href='{% url 'entry:revision' revision.id %}'>{{revision.date}}</a></td>
                            <td><a href='#'>{{revision.author.username}}</a></td>
                        </tr>                   
                {% endfor %}
            </tbody>                    
        </table>
    </div>
{% endblock %}