{% extends 'home/base.html' %}
{% block title %}Nova imagem{% endblock %}

{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/search-style.css' %}"/>
{% endblock %}

{% block scripts %}
    <script src="{% static 'home/search-scripts.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Modificar imagem - <a href="{% url 'gallery:image_detail' image.pk '' %}">{{image.title}}</a></h2>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <span class="col-md-8">
                                    <strong>Trancar comentários:</strong>
                                    {{ image_form.comments_locked }}

                                    <strong>Esconder imagem:</strong>
                                    {{ image_form.hidden }}
                            </span>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="field">Título:</label>
                            <div class="col-sm-8">{{ image_form.title }}</div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="field">Entrada:</label>
                            <div class="col-md-8"><input id="search-entries" name="entry-selected" type="text" class="form-control" placeholder="Procurar" autocomplete="off" value="{{image.entry}}"></div>
                            <div class="col-md-offset-2 search-box">
                                <ul id="search-entry-results" class="search-results" hidden>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="field">Fonte:</label>
                            <div class="col-sm-8">{{ image_form.source }}</div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="field">Data:</label>
                            <div class="col-sm-6">{{ image_form.date_origin }}</div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="field">Marcações:</label>
                            <div class="col-md-2"><input id="search-tags" type="text" class="form-control" placeholder="Procurar" autocomplete="off"></div>
                            <div class="col-md-offset-2 search-box">
                                <ul id="search-tag-results" class="search-results">
                                    <li id="tags-no-results" class="no-results">Sem resultados.</li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="field"></label>
                            <div class="col-md-4 search-tag-display">
                                <ul>
                                    Adicionadas:
                                    {% for tag in image.tags.all %}<li tag-data="{{tag}}">{{tag}} <span tag-data="{{tag}}" class="glyphicon glyphicon-remove remove-tag"></span></li>{% endfor %}
                                </ul>
                            </div>

                            <input type="text" id="tags-selected" name="tags-selected" hidden/>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="field">Descrição:</label>
                            <div class="col-sm-8">{{ image_form.description }}</div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="field"></label>
                            <div class="col-sm-8">{{ image_form.state }}</div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" id="send" class="btn btn-primary submit-media">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}