{% extends 'home/base.html' %}
{% block title %}{{ image.title }} - Saiba{% endblock %}
{% block body %}
    <section id="conteudo" class="container col-md-9">
        <img id="imagem" class='media-object img-thumbnail' src='{{ image.file.url }}' style="max-height: 100%; max-width: 100%;">
    </section>

    {% if image.hidden %}
    <section id="entry-status-rejeitado" class="entry-status panel panel-default col-md-12">
        <div id="entry-status-rejeitado" class="entry-status-label panel-body col-md-12">Esta imagem está escondida</div>
        <div id="entry-status-rejeitado" class="entry-status-description panel-body col-md-12">Essa imagem foi escondida por um membro da equipe e não pode ser vista por outros usuários.</div>
    </section>
    {% endif %}
    
    <section id="informacao" class="container media col-md-12">
        <div class="col-md-9">
            <h3>
                {{ image.title }} - <a href="{% url 'entry:detail' image.entry.slug %}">{{image.entry.title}}</a><br/>
                <small>Enviado por <a href="{% url 'profile:detail' image.author.profile.slug %}">{{ image.author.username }}</a> a <span class="saiba-date" title="{{image.date}}">{{image.date|date:"c"}}</span></small>
            </h3>
            <p>Fonte: {{ image.source }}</p>
            <p><small>Marcações: {% if image.tags.all|length > 0 %}{% for tag in image.tags.all %}<a href="{% url 'home:page_search' %}?q={{ tag.label }}&type=image">{{ tag.label }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% else %} <em style="color:gray;">Nenhuma</em>{% endif %}</small></p>
            {% if image.description %}<p>Descrição: {{ image.description }}</p>{% endif %}
        </div>
        <div class="col-md-3">
            <span><strong>Visualizações:</strong> {{views}}</span>
        </div>
    </section>

    <div class="media-right media-middle col-md-12">
        <hr>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type='button' class='btn btn-default' onclick="location.href='{% url 'gallery:image_edit' image.pk %}'">Editar</button>
            </div>
        </div>
        <hr>
    </div>

    <section id="relacionados" class="container media col-md-12"><hr/>
        <h2 class="section-title">Imagens relacionadas <small>({{ related_images|length }})</small></h2>
        {% for related_image in related_images %}
            <div class='inline-block col-md-4'>
                <a href="{% url 'gallery:image_detail' related_image.id %}"><img class='media-object' src='{{ related_image.file.url }}' alt='image.title' height='100'/></a>
                <a href="{% url 'gallery:image_detail' related_image.id %}">{{ related_image.title }}</a>
            </div>
        {% endfor %}
    </section>

    <section id="comentarios" class="container col-md-12">
    <hr/>
    <h2>Comentários</h2>
    {% include "feedback/comment_section.html" %}
    </section>

    <section id="trending-images" class="container col-md-12">
        <hr/>
        <h2>Imagens populares</h2>
        <script>
            $(document).ready(function(){                
                var trending_url = "{% url 'home:api_trending_list' %}?type=image";
                var api = new API();
                var offset = 0;
                var step = 5;

                $(window).scroll(function() {
                    if($(window).scrollTop() + window.innerHeight == $(document).height()) {
                        url = trending_url + "&offset=" + offset + "&step=" + step;
                        offset += step;

                        api.getPage(url, function(data){
                            $("#trending-images").append(data);
                        });
                    }
                });
            });
        </script>
    </section>
{% endblock %}