{% extends 'home/base.html'%}

{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'gallery/style.css' %}"/>
{% endblock %}

{% block scripts %}
    <script src="{% static 'gallery/scripts.js' %}"></script>
{% endblock %}

{% block body %}
    <h2>Enviar novo vídeo</h2>
    <form class="form-horizontal col-md-12" role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <span class="col-sm-offset-2">* representa um campo obrigatório.</span>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="field">Título:</label>
            <div class="col-md-8">{{ form.title }}</div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="field">Entrada:</label>
            <div class="col-md-8"><input id="search-entries" name="entry-selected" type="text" class="form-control" placeholder="Procurar" autocomplete="off"></div>
            <div class="col-md-offset-2 search-box">
                <ul id="search-entry-results" class="search-results" hidden>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="field">{{ form.link.label_tag }}</label>
            <div class="col-md-8">{{ form.link }}</div>
            <p class="help-block col-md-8">Use somente o id do vídeo. Exemplo: https://www.youtube.com/watch?v=<strong>45U2fjfru1E</strong> .</p>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="field">Data:</label>
            <div class="col-md-2">{{ form.date_origin }}</div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="field">Marcações:</label>
            <div class="col-md-2"><input id="search-tags" type="text" class="form-control" placeholder="Procurar" autocomplete="off"></div>
            <div class="col-md-offset-2 search-box">
                <ul id="search-tag-results" class="search-results">
                    <li id="tags-no-results" class="no-results">Sem resultados.</li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="field"></label>
            <div class="col-md-4 search-tag-display">
                <ul>
                    Adicionadas:
                </ul>
            </div>

            <input type="text" id="tags-selected" name="tags-selected" hidden/>
        </div>        

        <div class="form-group">
            <label class="control-label col-sm-2" for="field">Descrição:</label>
            <div class="col-md-8">{{ form.description }}</div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="field">Estado:</label>
            <div class="col-md-2">{{ form.state }}</div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" id="submit-video" class="btn btn-primary" name="submit">Enviar</button>
            </div>
        </div>
    </form>
{% endblock %}