{% extends 'home/base.html' %}
{% block title %}{{ video.title }} - Saiba{% endblock %}
{% block body %}
    <section id="conteudo" class="container col-md-9">
        <iframe id="vídeo" class='media-object' width="560" height="315" src="https://www.youtube.com/embed/{{ video.link }}" frameborder="0" allowfullscreen></iframe>
    </section>

    <section id="informacao" class="container media col-md-12">
        <h3>
            {{ video.title }} - <a href="{% url 'entry:detail' video.entry.slug %}">{{video.entry.title}}</a><br/>
            <small>Enviado por {{ video.author.username }}</small>
        </h3>
        {% if video.source %}<p>Fonte: {{ video.source }}</p>{% endif %}
        <p><small>Marcações: {% for tag in video.tags.all %}<a href="{% url 'home:search' %}?q={{ tag.label }}&type=video">{{ tag.label }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</small></p>
        {% if video.description %}<p>Descrição: {{ video.description }}</p>{% endif %}
    </section>

    <div class="media-right media-middle col-md-12">
        <hr>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <a href='{% url 'gallery:video_edit' video.pk %}'><button type='button' class='btn btn-default'>Editar</button></a>
            </div>
        </div>
        <hr>
    </div>

    <section id="relacionados" class="container media col-md-12"><hr/>
        <h2>Vídeos relacionados <small>({{ related_videos|length }})</small></h2>
        {% for related_video in related_videos %}
            <div class='inline-block col-md-4'>
                <a href="{% url 'gallery:video_detail' related_video.id %}"><img class='media-object' src='https://img.youtube.com/vi/{{ related_video.link }}/mqdefault.jpg' alt='video.title' height='100'/></a>
                <a href="{% url 'gallery:video_detail' related_video.id %}">{{ related_video.title }}</a>
            </div>
        {% endfor %}
    </section>

    {% include "feedback/comment_section.html" %}

{% endblock %}