{% extends 'staff/index.html' %}

{% block content %}
    <form class="form-horizontal col-md-12" role="form" action="" method="get" enctype="multipart/form-data">
        <label class="control-label col-md-offset-4" for="field">Digite o nome do(a) usuário(a) à ser procurado(a):</label>

        <div class="input-group col-md-4 col-md-offset-4">
            <input class="form-control" placeholder="Nome à procurar..." type="text" name="q">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit">Procurar</button>
            </span>
        </div>    

        <div class="col-md-12"><hr></div>

        <table class="table">
            <tr>
                <th>Avatar</th>
                <th>Nome</th>
                <th>Registro</th>
                <th>Último login</th>
                <th>Pertence à Staff</th>
                <th>Ações</th>
            <tr>
            {% for searched_user in all_users %}
                <tr style="vertical-align:middle">
                    <td>
                        {% if searched_user.profile.avatar %}
                            <img class="img-thumbnail" style="width:50px" src="{{searched_user.profile.avatar.url}}"/>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'profile:detail' searched_user.profile.slug %}">{{searched_user.username}}</a></td>
                    <td>{{searched_user.date_joined}}</td>
                    <td>{{searched_user.last_login}}</td>

                    {% if searched_user.is_staff %}
                        <td><span class="glyphicon glyphicon-ok" style="color:green"/></td>
                    {% else %}
                        <td><span class="glyphicon glyphicon-remove" style="color:red"/></td>
                    {% endif %}
                    {% if searched_user.is_active and not searched_user.is_staff and ban_normal_user or searched_user.is_staff and ban_staff_user %}
                        <td><button class="btn btn-danger" name="banned_user" value="{{searched_user.id}}" type="submit"><span class="glyphicon glyphicon-ban-circle"></span> Banir</button></td>
                    {% endif %}
                    {% if searched_user.is_active == False and not searched_user.is_staff and ban_normal_user or searched_user.is_staff and ban_staff_user %}
                        <td><button class="btn btn-success" name="unbanned_user" value="{{searched_user.id}}" type="submit"><span class="glyphicon glyphicon-ok-circle"></span> Desbanir</button></td>
                    {% endif %}
                    {% if can_promote_users == True %}
                        <td><div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cargo <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><button class="btn btn-default col-md-12" name="promoted_user_mod" value="{{searched_user.id}}" type="submit"><span class="glyphicon glyphicon-star"></span> Promover a moderador</button></li>
                                <li><button class="btn btn-default col-md-12" name="demoted_user_mod" value="{{searched_user.id}}" type="submit"><span class="glyphicon glyphicon-star-empty"></span> Rebaixar de moderador</button></li>
                                <li><button class="btn btn-default col-md-12" name="promoted_user_admin" value="{{searched_user.id}}" type="submit"><span class="glyphicon glyphicon-star"></span> Promover a administrador</button></li>
                                <li><button class="btn btn-default col-md-12" name="demoted_user_admin" value="{{searched_user.id}}" type="submit"><span class="glyphicon glyphicon-star-empty"></span> Rebaixar de administrador</button></li>
                            </ul>
                        </div></td>                        
                    {% endif %}
                <tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}