<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="pt-br" />

        <title>
            {% block title %}Saiba{% endblock %}
        </title>

        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'home/navbar.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'home/base.css' %}"/>
        <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
        {% block css %}
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="{% static 'home/scripts.js' %}"></script>
        <script src="{% static 'home/navbar.js' %}"></script>
        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        <nav id="saiba-navbar" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home:index' %}">Saiba</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contribuir <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        <li><a href="{% url 'entry:create_entry' %}">Criar entrada</a></li>
                        <li><a href="{% url 'gallery:upload_image' %}">Enviar imagem</a></li>
                        <li><a href="{% url 'gallery:upload_video' %}">Enviar vídeo</a></li>
                    </ul>
                </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left" action="{% url 'home:navbar_search' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input id="navbar-search" name="q" type="text" class="form-control" placeholder="Pesquisar" autocomplete="off">
                            <button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>
                            <div class="navbar-search-box">
                                <ul id="navbar-search-results" class="navbar-search-results">
                                    <li><span class="not-found">Sem entradas.</span></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Meu perfil <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        <li><a href="#">Criar entrada</a></li>
                    </ul>
                </ul>
            </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="">
            {% include "home/trending.html" %}
        </div>

        <div id="site-conteudo" class="col-md-12">
            <div id="site-contexto" class="col-md-9">
                {% block body %}
                {% endblock %}        
            </div>
            <div id="sidebar" class="col-md-3">{% include "home/sidebar.html" %}</div>
        </div>
    </body>
</html>