<footer id="saiba-footer" class="col-md-12">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="logo"><a href="{% url 'home:index' %}"> Saiba </a> <span class="saiba-version">beta</span></h2>
            </div>
            <div class="col-sm-2">
                <h5>Começando</h5>
                <ul>
                    <li><a href="{% url 'content:bpost_detail' 'regras'%}">Regras</a></li>
                    <li><a href="{% url 'content:bpost_detail' 'guia-de-estilo'%}">Guia de estilo</a></li>
                    <li><a href="{% url 'content:bpost_index' %}">Blog</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Sobre Saiba</h5>
                <ul>
                    <li><a href="{% url 'content:bpost_detail' 'sobre'%}">Sobre nós</a></li>
                    <li><a href="{% url 'content:bpost_detail' 'contate' %}">Contate-nos</a></li>
                    <li><a href="{% url 'content:bpost_detail' 'termos' %}">Termos</a></li>
                    <li><a href="{% url 'content:bpost_detail' 'privacidade' %}">Privacidade</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Comunidade</h5>
                <ul>
                    <li><a href="#">Discord</a></li>
                    <li><a href="#">Fórum</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="chat"><i class="fa fa-comments "></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2016 Copyright Text </p>
    </div>
</footer>