{% extends 'home/base.html' %}

{% block body %}
    <section id="posts" class="container col-md-12">
        <div class="container col-md-12">
            {% for post in fixed_posts %}
                <div id="post-{{ post.pk }}" class='post' style="background-color:#cbcbdd">
                    {% include 'home/post.html'%}
                </div>
                {% if forloop.counter != fixed_posts|length %}
                <hr>
                {% endif %}
            {% endfor %}

            <hr style="border-top: 4px solid #000000;">

            {% for post in normal_posts %}
                <div id="post-{{ post.pk }}" class='post'>
                    {% include 'home/post.html'%}
                </div>
                <hr>
            {% endfor %}
        </div>

        <form class="form-horizontal col-md-12" role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'home/form_template.html'%}
            <button type="submit" class="btn btn-primary" name="submit">Enviar</button>
        </form>
    </section>
{% endblock %}