{% extends 'home/base.html' %}

{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/index.css' %}"/>
{% endblock %}

{% block body %}
    <section id="post-content" class="container col-md-12">
        {% if request.user.is_staff %}
            <form class="form-horizontal col-md-12" role="form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'home/form_template.html'%}
                <button type="submit" class="btn btn-primary col-sm-offset-4 col-md-4" name="submit">Enviar</button>
            </form>
        {% endif %}

        <div id="all-posts" class="container col-md-12">
            <div id="fixed-posts">
                {% for post in fixed_posts %}
                    {% include 'home/post.html' %}
                    {% if forloop.counter != fixed_posts|length %} <hr> {% endif %}
                {% endfor %}

                <hr id="fixed-block-hr">
            </div>

            <div id="normal-posts">
                {% for post in normal_posts %}
                    {% include 'home/post.html' %}
                    <hr>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}