{% extends 'home/base.html' %}
{% block title %}Entrar{% endblock %}

{% block body %}
<div class="container-fluid col-md-offset-3">
    <div id="login">
        <form class="form-horizontal col-md-12" role="form" action="{% url 'home:login' %}" method="post" enctype="multipart/form-data" name="LoginForm">
            {% csrf_token %}

            {% if form.errors %}
                <div class="alert alert-warning">
                {% for field in form %}
                    {% for error in field.errors %}
                        <strong>{{ error|escape }}</strong>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <strong>{{ error|escape }}</strong>
                {% endfor %}
                </div>
            {% endif %}

            <div class="form-group">
                <label class="control-label col-sm-2" for="field">Nome de Usuário:</label>
                <div class="col-sm-3">{{ form.username }}</div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="field">Senha:</label>
                <div class="col-sm-3">{{ form.password }}</div>
            </div>

            <div class="control-group col-md-12 col-md-offset-2">
				<button type="submit" class="btn btn-primary col-md-2">Entrar</button>
            </div>

        </form>
    </div>
</div>
{% endblock %}