{% extends 'home/base.html' %}
{% block title %}Entrar{% endblock %}

{% block body %}
<div class="container-fluid">
    <div id="login">
        <form class="form-horizontal" name="LoginForm" action="{% url 'home:login' %}" method="post">
            {% csrf_token %}

            {% if form.errors %}
                <div class="alert alert-warning">
                {% for field in form %}
                    {% for error in field.errors %}
                        <strong>{{ error|escape }}</strong>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <strong>{{ error|escape }}</strong>
                {% endfor %}
                </div>
            {% endif %}

            <label class="control-label col-sm-2" for="field">{{ form.username.label_tag }}</label>
            <div class="col-sm-4">{{ form.username }}</div>

            <label class="control-label col-sm-1" for="field">{{ form.password.label_tag }}</label>
            <div class="col-sm-2">{{ form.password }}</div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}