{% extends 'home/base.html' %}
{% block title %}Registrar{% endblock %}

{% block body %}
<div class="container-fluid">
    <div id="login">
        <form class="form-horizontal" name="RegisterForm" action="{% url 'home:register' %}" method="post">
            {% csrf_token %}

            {% if user_form.errors %}
                <div class="alert alert-warning">
                {% for field in user_form %}
                    {% for error in field.errors %}
                        <strong>{{ error|escape }}</strong>
                    {% endfor %}
                {% endfor %}
                {% for error in user_form.non_field_errors %}
                    <strong>{{ error|escape }}</strong>
                {% endfor %}
                </div>
            {% endif %}

			<div class="col-md-12">
            	<label class="control-label col-sm-2" for="field">{{ user_form.username.label_tag }}</label>
            	{{ user_form.username }}
            </div>
            
            <div class="col-md-12">
            	<label class="control-label col-sm-2" for="field">{{ user_form.password.label_tag }}</label>
            	{{ user_form.password }}
            </div>

            
            <div class="col-md-12">
            	<label class="control-label col-sm-2" for="field">{{ user_form.email.label_tag }}</label>
            	{{ user_form.email }}
            </div>

            
            <div class="col-md-12">
				<label class="control-label col-sm-2" for="field">{{ profile_form.gender.label_tag }}</label>
				{{ profile_form.gender }}
			</div>

            <div class="control-group col-md-12 col-md-offset-2">
                <button type="submit" class="btn btn-primary col-md-2">Registrar-se</button>
            </div>

        </form>
    </div>
</div>
{% endblock %}