{% extends 'home/base.html' %}
{% block title %}Entrar{% endblock %}

{% block body %}
<div class="container-fluid">
    <div id="login">
        <form class="form-horizontal" name="RegisterForm" action="{% url 'home:register' %}" method="post">
            {% csrf_token %}

            {% if custom_error %}
                <div class="alert alert-warning">
                    {% for error in custom_error %}
                        <strong>{{ error|escape }}</strong>
                    {% endfor %}
                </div>
            {% endif %}

			<div class="form-group">
            	<label class="control-label col-sm-2" for="field">Nome de Usuário:</label>
                <div class="col-md-3">{{ user_form.username }}</div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Login</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}