{% extends 'home/base.html' %}

{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/index.css' %}"/>
{% endblock %}

{% block body %}
    <section id="pesquisa" class="container col-md-12">
        <form class="form-horizontal col-md-4 col-md-offset-4" action="{% url 'home:navbar_search' %}" method="get">
            <div class="input-group">
                <input name="q" type="text" class="form-control" placeholder="Pesquisar" value="{{query}}">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Pesquisar</button>
                </span>
            </div>
        </form>
        <br><hr/>
        <div class="col-md-offset-5 col-md-12"><a href="/pesquisar/?q={{query}}&type=entry&order_by={{order_by}}">Entradas</a> | <a href="/pesquisar/?q={{query}}&type=image&order_by={{order_by}}">Imagens</a> | <a href="/pesquisar/?q={{query}}&type=video&order_by={{order_by}}">Vídeos</a></div>
        <div class="col-md-12"><b>Organizar por:</b> <a href="/pesquisar/?q={{query}}&type={{type}}&order_by=newer">Novos</a> | <a href="/pesquisar/?q={{query}}&type={{type}}&order_by=older">Antigos</a></div>

        {% if search_result %}
            {% for result in search_result %}
                {% if type == 'entry' %}
                    <a class="col-md-3" href="/entrada/{{result.slug}}/" style="margin-top: 20px">
                        <span class="col-md-12" style="text-align: center">
                            <img class="media-object" src="/media/{{result.icon}}" alt="{{result.title}}" height="50" style="display: block; margin: 0 auto">
                            {{result.title}}
                        </span>                        
                    </a>
                {% elif type == 'image' %}
                    <a class="col-md-3" href="/galeria/imagem/{{result.id}}/" style="margin-top: 20px">
                        <span class="col-md-12" style="text-align: center">
                            <img class="media-object" src="/media/{{result.file}}" alt="{{result.title}}" height="50" style="display: block; margin: 0 auto">
                            {{result.title}}
                        </span>                        
                    </a>
                {% elif type == 'video' %}
                    <a class="col-md-3" href="/galeria/imagem/{{result.id}}/" style="margin-top: 20px">
                        <span class="col-md-12" style="text-align: center">
                            <img class="media-object" src="/media/{{result.file}}" alt="{{result.title}}" height="50" style="display: block; margin: 0 auto">
                            {{result.title}}
                        </span>                        
                    </a>
                {% endif %}
            {% endfor %}
        {% else %}
            <span class="col-md-12" style="margin-top: 20px; margin-bottom: 20px">
                Não existem entradas com este nome.
            </span>
        {% endif %}
    </section>
{% endblock %}