<section id="ads">
    <img src="/media/ad_test.png" class='media-object'/>
</section>

{% if entry.editorship.all %}
<hr/>
<section id="lista-editores" class="panel panel-default">
    <div class="panel-heading"><a href="{% url 'entry:editorship' entry.slug %}">Editores da entrada</a> ({{entry.editorship.all|length}})</div>
    {% for editor in entry.editorship.all %}
        <div class="media" style="padding-left:5px; padding-bottom: 5px;">
          <div class="media-left media-middle">
            <img src="{{editor.avatar.url}}" class="media-object img-thumbnail" style="width:50px">
          </div>
          <div class="media-body">
            <a class='media-heading' href="{% url 'profile:detail' editor.slug %}">{{editor.user.username}}</a>
            <p><small>{{editor.user.profile.title}}</small></p>
          </div>
        </div>
    {% endfor %}
</section>
{% endif %}

<hr/>
<section id="galerias-populares" class="container media col-md-12">
    <h2>Galerias populares</h2>
    {% for gallery in trending_galleries %}
        <a href="{{gallery.slug}}">
            <img class="img-thumbnail" src="{{gallery.icon}}" style="width:60px;"/>
            <span>{{gallery.title}}</span>
        </a><br/>
    {% endfor %}
</section>