<script>
    function getTrending() {
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    var csrftoken = getCookie("csrftoken");
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $.ajax({
            type: "GET",
            url: "http://localhost:8000/api/v1/trending/?type=entry",
            data: "",
            success: function (data) {
                for (i = 0; i < data.length; i++) {
                    var entry = $("<a/>").addClass("trending-entry col-md-2").attr("href", "http://localhost:8000/entrada/" + data[i].slug);
                    var container = $("<span/>").addClass("trending-container col-md-12").css("text-align", "center");
                    var image = $("<img/>").addClass("trending-image col-md-12 col-centered img-thumbnail").attr("src", data[i].icon).css("width", "100px");
                    var title = $("<span/>").addClass("trending-title col-md-12").html(data[i].title);

                    entry.append(container.append(image).append(title));

                    $('#trending_entries').append(entry);
                };
            }
        })
    }
    getTrending();
</script>

<div id="trending_entries" class="col-md-12"></div>